.login-card {
    border: 7px solid #261C14;
    border-radius: 16px;
    width: 70%;
    height: 400px;
   
}

.login-img {
    width: 120px;
    height: 120px;
}

.login-botao {
    background: #261C14;
    color: #fff;
    border: none;
    border-radius: 8px;
    width: 75%;
    height: 40px;

    transition: all 0.25s ease-in-out;
}

.login-botao:hover {
    transform: scale(1.05);
}

.login-botao:active {
    transform: scale(0.97);
}