body {
  height: 100%; 
}

a {
  text-decoration: none;
  color: black;
}

img{
  height: 100%;
}

header {
  width: 100%;
}

/*tamanho texto*/
.tamanho-texto{
      height: 10rem;
}

/* LINKS */
.nav-link-custom {
  position: relative;
  display: block;
  padding: 8px 12px;
  font-weight: 600;
  color: black;
}

/* underline */
.nav-link-custom::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 2px;
  left: 0;
  background-color: black;
  transition: width 0.3s ease;
}

.nav-link-custom:hover::after {
  width: 100%;
}

.nav-link-custom.active::after {
  width: 100%;
}

/* hover UX */
.nav-link-custom:hover {
  background-color: rgba(0,0,0,0.05);
  border-radius: 6px;
}

img {
  width: 100%;
  height: auto; 

}

.tamanho-texto {
  min-height: 6rem;
}

/* Card */
.my-card {
  width: 100%;
  max-width: 1000px; 
  background-color: white;
  border: 10px solid black;
  border-radius: 1rem;
  margin: 2rem auto;
}

/* botão */
.botao-pedido {
  background-color: #e76f51;
  color: #000;
  border-radius: 25px;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.botao-pedido:hover {
  background-color: #db816c;
}